* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  background-color: BLACK;
  padding: 3rem;
}

body::after {
  content: "";
  background-image: url(../img/noise.webp);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  opacity: 0.1;
}

.hero {
  height: 90vh;
  background-image: url(../img/hero.webp);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  z-index: 0;
  filter: drop-shadow(rgba(230, 137, 43, 0.4) 0 0 1rem);
  border-radius: 0.5rem;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.hero-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  text-align: center;
}

.hero-logo {
  height: 15rem;
  transform: scale(3);
  -webkit-transform: scale(3);
  z-index: 1;
  filter: drop-shadow(black 0 0 3rem);
  animation: pulse 5s infinite;
  -webkit-animation: pulse 5s infinite;
  -moz-animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(3);
    -webkit-transform: scale(3);
  }
  50% {
    transform: scale(3.15);
    -webkit-transform: scale(3.15);
    filter: drop-shadow(rgba(230, 137, 43, 0.7) 0 0 3rem);
    -webkit-filter: drop-shadow(rgba(230, 137, 43, 0.7) 0 0 3rem);
  }
  100% {
    transform: scale(3);
    -webkit-transform: scale(3);
  }
}

.hero-slogan {
  font-size: 3.6rem;
  color: #d7ba9c;
  font-weight: 400;
  letter-spacing: 0.7rem;
  text-shadow: black 0 0 1rem;
  z-index: 1;
}

.hero-services-cta:link,
.hero-services-cta:visited {
  text-decoration: none;
  font-size: 3.6rem;
  color: #d7ba9c;
  font-weight: 400;
  letter-spacing: 0.7rem;
  text-shadow: black 0 0 1rem;
  position: absolute;
  top: 90%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.3s ease;
}

.hero-down-arrow {
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 130%;
  left: 50.2%;
  transform: translate(-50%, -50%);
  z-index: 2;
  filter: drop-shadow(black 0 0 1rem);
}

.hero-services-cta:hover {
  cursor: pointer;
  color: #e6892b;
  transform: translate(-50%, -50%) scale(1.1);
  text-shadow: rgba(230, 137, 43, 0.9) 0 0 2rem;
}

.hero-services-cta:active {
  transform: translate(-50%, -50%) scale(1.05);
  text-shadow: rgba(230, 137, 43, 0.9) 0 0 2rem;
}

.hero-contacts {
  font-size: 2.4rem;
  text-decoration: none;
  color: #d7ba9c;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-shadow: black 0 0 1rem;
  position: absolute;
  top: 5%;
  right: -3.3%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.3s ease;
  text-decoration: none;
}

.hero-contacts:hover {
  color: #e6892b;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.1);
  text-shadow: rgba(230, 137, 43, 0.9) 0 0 2rem;
}

.hero-contacts:active {
  transform: translate(-50%, -50%) scale(1.05);
  text-shadow: rgba(230, 137, 43, 0.9) 0 0 2rem;
}

.services {
  background-repeat: repeat-y;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 140rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8rem;
  grid-column-gap: 2.5rem;
  justify-items: center;
  padding: 0 2rem;
}

.card {
  cursor: pointer;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52.5rem;
  width: 30rem;
}

.card__side {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 0 2rem #000;
  overflow: hidden;
  padding-bottom: 2rem;
}

.card__side:hover .flip-icon {
  transform: scale(1.1);
}
.card__side:hover .btn-flip {
  box-shadow: 0 0 5rem rgba(230, 137, 43, 0.9);
}

.card__side--front {
  background-size: 100%;
  padding-top: 1.2rem;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-size: 100%;
  padding-top: 5rem;
}

.rotated .card__side--front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.rotated .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.service-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 4px;
  color: #e6892b;
  text-shadow: 0 0 1rem #000;
}

.card__cta {
  width: 100%;
  display: grid;
  justify-content: center;
}

.btn-flip {
  transition: all 0.4s;
  height: 8rem;
  width: 8rem;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4rem rgba(230, 137, 43, 0.9);
  border-radius: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.flip-icon {
  height: 5rem;
  width: 5rem;
  color: #e6892b;
  transition: all 0.4s;
}

.subservices-list {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 4px;
  color: #d7ba9c;
  display: grid;
  row-gap: 1.6rem;
}

.header-box {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 9999;
}

.contacts_header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140rem;
  padding: 0 5rem;
}

.top-shadow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 75%;
  max-width: 140rem;
  height: 50px;
  transform: translate(-50%, -100%);
  box-shadow: 0 0 200px 30px #e6892b;
}

.contacts_logo--box {
  height: 15rem;
}

.contacts_logo--box img {
  height: 100%;
}

.main-page-link:link,
.main-page-link:visited {
  text-decoration: none;
  color: #d7ba9c;
  font-size: 2.4rem;
  transition: all 0.3s;
  letter-spacing: 2px;
}

.main-page-link:hover {
  color: #e6892b;
  text-shadow: rgba(230, 137, 43, 0.9) 0 0 2rem;
}

.contacts_link-to-main {
  transition: all 0.3s;
}

.contacts_link-to-main:hover {
  transform: scale(1.1);
}

.contacts_link-to-main:active {
  transform: scale(1.05);
}

.contacts-social-links {
  margin: 0 auto;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  text-align: center;
  align-items: center;
  row-gap: 1.7rem;
}

.contacts-heading {
  display: inline-block;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #e6892b;
  letter-spacing: 2px;
  font-weight: 500;
}

.line {
  height: 1px;
  background-color: #d7ba9c;
  width: 6rem;
  margin-bottom: 2.5rem;
  border-radius: 1px;
}

.social-contact-link {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  width: 35rem;
  padding: 1.2rem 0;
  border-radius: 200px;
  transition: all 0.3s;
  letter-spacing: 1px;
  color: #000;
  font-weight: 300;
}

.instagram:link,
.instagram:visited {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social-contact-link:hover {
  transform: scale(1.05);
}

.social-contact-link:active {
  transform: scale(1.02);
}

.whatsapp {
  background-color: #25d366;
}

.email {
  background-color: #3899d5;
}

.phone {
  background-color: #09c14c;
}

.map-section {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 140rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 5rem;
  row-gap: 1.7rem;
}

iframe {
  width: 95%;
  height: 50rem;
  filter: invert(90%) hue-rotate(180deg) brightness(1.1) saturate(1.3);
}

.footer {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 140rem;
  display: grid;
  margin-bottom: 5rem;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(3, 0.25fr) 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer_small-grid-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_big-grid-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding-right: 5%;
}


.logo-footer {
  height: 4.5rem;
  width: 4.5rem;
  color: #d7ba9c;
  transition: all 0.3s ease;
}

.logo-footer:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #e6892b;
}

.logo-footer:active {
  cursor: pointer;
  transform: scale(1.05);
  color: #e6892b;
}



.footer_copyright {
  display: inline-block;
  font-size: 2.8rem;
  color: #e6892b;
}

.footer_rulers-logo {
  height: 5rem;
  color: #d7ba9c;
}



